<%= simple_form_for @cash, url: cash_lock_path(@cash), method: :patch do |f| %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= fa_icon('warning', text: t('cashes.errors.cash_difference')) %>
      </h4>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.input :comment, autofocus: true, required: true %>
      </div>
    </div>
  </div>
  <div class="pull-left" style="margin-right: 4px;">
    <%= f.submit t('cashes.lock'), class: 'btn btn-danger' %>
  </div>
<% end %>
