<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <%= link_to_cash_flow_item CashMemberPayment %>
    </div>
  </div>
  <div class="col-md-9">
    <div id="cash-flow"></div>
  </div>
</div>
