<fieldset class="row">
  <div class="col-md-10">
    <%= f.association :body_template, label: false, prompt: true %>
  </div>
  <div class="col-xs-1">
    <%= link_to_remove_nested_item f %>
  </div>
</fieldset>
