<div style="margin-bottom: 20px;">
  <div class="row">
    <div class="col-md-10">
      <h5><strong><%= BodyTemplate.model_name.human count: 1 %></strong></h5>
    </div>
  </div>

  <%= f.simple_fields_for :custom_body_templates, custom_body_templates(f.object) do |cbt| %>
    <%= render 'custom_body_templates/custom_body_template', f: cbt %>
  <% end %>

  <%= link_to_add_fields t('custom_templates.custom_body_templates.new'), f, :custom_body_templates %>
</div>
