<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @investment_group.name %>
</p>

<%= link_to 'Edit', edit_investment_group_path(@investment_group) %> |
<%= link_to 'Back', investment_groups_path %>
