<div class="page-header page-hader-sm">
  <h3><%= @header_template %></h3>
</div>

<% if @header_template.image.try(:file).try(:exists?) %>
  <%= image_tag image_header_template_path(@header_template) %>
<% end %>

<hr />

<%= link_to_edit [:edit, @header_template] %> |
<%= link_to_index header_templates_path %>
