<div class="page-header page-header-sm">
  <%= @loan.customer %>
</div>

<%= render template: 'payments/index', locals: { '@payments': @loan.payments } %>

<hr />

<%= link_to_edit [:edit, @loan] %> |
<%= link_to_index loans_path %>
