<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <%= link_to_filter 'member_payment', 'card' %>
    </div>
    <%= render 'summary' %>
  </div>
  <div class="col-md-9">
    <%= render 'filters' %>
    <%= render @report.filter %>
  </div>
</div>
